<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description"
        content="Computação na arte. Essa fusão se faz valer positivamente em vários meios, em especial na educação. Os diálogos estabelecidos pela arte e a tecnologia faz nascer novas tendências de interatividade humana, de abordagem e afeto de si com o outro e, junto com elas, as chamadas tecnologias educacionais: de ensino e de aprendizagem. Novas formas de educar.">
    <meta name="keywords"
        content="Computação, Arte, Tecnologia, Educação, Ensino, Aprendizagem, Interatividade, Tendência">
    <meta name="Author" content="Vitor Hugo, Carlos Eduardo, Weslei Rocha">

    <link rel="stylesheet" href="/css/lib/bootstrap.css">
    <link rel="stylesheet" href="/css/src/index.css">

    <title>Computação na arte</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="../../images/logo.svg" class="img-fluid d-inline-block align-center">
            <span class="text-logo">DedéMusic</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-center <%= active1 %>" href="/">Home </a>
                </li>
                <div class="dropdown">
                    <a href="/history" class="dropbtn nav-link">História</a>
                    <div class="dropdown-content">
                        <a href="/history#title1">A evolução da indústria fonográfica</a>
                        <a href="/history#title2">O fim dos álbuns</a>
                        <a href="/history#title3">O fim da MTV</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link text-center <%= active3 %>" href="Musics">Paradas de sucesso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center <%= active4 %>" href="computation">Computação e tecnologia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center <%= active5 %>" href="about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center <%= active6 %>" href="contact">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container wrapper">
        <%- body %>
    </div>
    <footer class="footer">
        © 2019 DedéMusic. Todos os direitos reservados.
    </footer>
    <div class="row col-md-12 site-map">
        <div class="col-md-12 center">
            <p>MAPA DO SITE</p>
        </div>

        <p><a href="/">. Home</a></p>
        <p><a href="/history">. História</a></p>
        <p class="sub-item"><a href="/history#title1">A evolução da indústria fonográfica</a></p>
        <p class="sub-item"><a href="/history#title2">O fim dos álbuns</a></p>
        <p class="sub-item"><a href="/history#title3">O fim da MTV</a></p>
    </div>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/popper.js"></script>
    <script src="/js/lib/bootstrap.js"></script>
    <script src="/js/src/index.js"></script>
</body>

</html>